
body {
    background-color: #283747;
}

.box-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: hsla(0, 0%, 0%, 0.267);
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    width: 120px;
    height: 120px;
}

.card span {
    text-transform: capitalize;
    font-size: 11px;
    font-weight: 700;
    color: white;
}
